
@font-face {
    font-family: 'Lato';
    src: local('Lato') url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
        format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 2rem;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
